{%- capture navigation -%}{% section 'navigation' %}{%- endcapture -%}
{%- if navigation contains '<!--mmobile-->' -%}{% assign endiv = '</div>'  %}{%- endif -%}
{%- assign desktopnav = navigation | split: '<!--mmobile-->' | first | append: endiv  -%}
{%- assign mobilenav = navigation | split: '<!--mmobile-->' | last | split: '<!--mmobileend -->' | first   -%}
{%- capture siteHeader -%}

{% if settings.snow_effect %} 
<div class="snow-wrap falling-snow{% if settings.snow_style == "style2" %} style2{% else %} style1{% endif %}">
 {% endif %}
  
  <!-- Rockerbox - High Street -->
<script type="text/javascript">
(function(d,RB) {if (!window.RB) { window.RB=RB;RB.queue=RB.queue||[];RB.track=RB.track||function(){RB.queue.push(Array.prototype.slice.call(arguments))};RB.initialize=function(s){RB.source=s};var a = d.createElement("script");  a.type="text/javascript"; a.async=!0; a.src="https://rbh3uign.highstreet.com.mx/assets/wxyz.rb.js"; f=d.getElementsByTagName("script")[0]; f.parentNode.insertBefore(a,f);} } )(document,window.RB || {});
RB.disablePushState=true;
if (!!RB.initialize) RB.initialize("aGlnaHN0cmVldC1teHx2aWV3fHB1cmNoYXNlfHNpZ251cHxsb2dpbg==");
RB.track("view");
</script>
<!-- Rockerbox - High Street -->
  
  
{%- comment -%}*** Top Announcement ***{%- endcomment -%}
{%- if settings.announcement -%}
<div class="notification-bar{% if settings.announcement_mb %} small--hide{% endif %}">
	{%- if settings.announcement_link != blank -%}
		<a href="{{ settings.announcement_link }}" class="notification-bar__message">{{ settings.announcement_txt }}</a>
	{%- else -%}
		<span class="notification-bar__message">{{ settings.announcement_txt }}</span>
	{%- endif -%}
	<span class="close-announcement"><i class="ad ad-times-l" aria-hidden="true"></i></span>
</div>
{%- endif -%}

{% comment %}*** Top Bar ***{% endcomment %}
{% assign topheaderMb = '' %}
{%- if settings.leftTxt-mobile and settings.centerTxt-mobile and settings.rightTxt-mobile -%}
	{% assign topheaderMb = 'small--hide medium--hide' %}
{%- endif -%}
{%- if settings.topbar -%}
<div class="top-header-wrapper">
	<div class="top-header{% unless settings.topbar_fullwidth %} page-width{% endunless %} {{topheaderMb}}">
		{%- if settings.leftTxt != blank -%}
			<div class="header-txt left-hdr{% if settings.leftTxt-mobile %} small--hide medium--hide{% else %} small--text-center{% endif %}">
				{%- if settings.leftTxt contains "[social-icons]"-%}
					{%- assign topLeftTxt = settings.leftTxt | split: "[social-icons]" -%}
					{{topLeftTxt[0]}} {% include 'social-media' %} {{topLeftTxt[1]}}
				{%- else -%}
					{{ settings.leftTxt }}
				{%- endif -%}
			</div>
		{%- endif -%}
		{%- if settings.centerTxt != blank -%}
			<div class="header-txt middle-hdr text-center{% if settings.centerTxt-mobile %} small--hide medium--hide{% endif %}">{{ settings.centerTxt }}</div>
		{%- endif -%}
		{%- if settings.rightTxt -%}
			<div class="header-social right-hdr text-right{% if settings.rightTxt-mobile %} small--hide medium--hide{% else %} small--text-center{% endif %}">
				{%- if settings.rightTxt contains "[social-icons]"-%}
					{% assign topRightTxt = settings.rightTxt | split: "[social-icons]" %}
					{{topRightTxt[0]}} {% include 'social-media' %} {{topRightTxt[1]}}
				{%- else -%}
					{{settings.rightTxt}}
				{%- endif -%}
			</div>
		{%- endif -%}
	</div>
</div>
{%- endif -%}

{% comment %}*** Main Header ***{% endcomment %}
<!-- {%- capture logo -%}
	<{% if template == 'index'%}div {% else %}div {% endif %}class="header-logo" id="header-logo logo_header">
		<a href="/" itemprop="url" class="header-logo-link">
			{%- if settings.home_classic and template == 'index' and settings.logo_cl != blank -%}
				<img src="{{ settings.logo_cl | img_url: '500x' }}" class="cllogo" alt="{{ settings.logo_cl.alt | default: shop.name }}" srcset="{{ settings.logo_cl | img_url: '500x', scale: 2 }} 1x, {{ settings.logo_cl | img_url: image_size, scale: 4 }} 1.1x">
          		{%- if settings.logo != blank -%}
                    <img src="{{ settings.logo | img_url: '500x' }}" class="stlogo" alt="{{ settings.logo.alt | default: shop.name }}" srcset="{{ settings.logo | img_url: '500x', scale: 2 }} 1x, {{ settings.logo | img_url: image_size, scale: 4 }} 1.1x">
                {%- else settings.logosvg != blank -%}
                    <img src="{{ settings.logosvg | file_url }}" class="stlogo" alt="{{ settings.logosvg.alt | default: shop.name }}">
                {%- endif -%}
			{%- elsif settings.logo != blank -%}
				<img src="{{ settings.logo | img_url: '500x' }}" alt="{{ settings.logo.alt | default: shop.name }}" srcset="{{ settings.logo | img_url: '500x', scale: 2 }} 1x, {{ settings.logo | img_url: image_size, scale: 4 }} 1.1x">
			{%- elsif settings.logosvg != blank -%}
				<img src="{{ settings.logosvg | file_url }}" alt="{{ settings.logosvg.alt | default: shop.name }}">
			{%- else -%}
				{{ shop.name }}
			{%- endif -%}
			<span class="visually-hidden">{{ shop.name }}</span>
		</a>
	</{% if template == 'index'%}div{% else %}div{% endif %}>
{%- endcapture -%} -->
{%- capture textblock -%}
	{%- if settings.hdTxt-block contains "[social-icons]"-%}
		{%- assign headerTxt = settings.hdTxt-block | split: "[social-icons]" -%}
		{{headerTxt[0]}} {% include 'social-media' %} {{headerTxt[1]}}
	{%- else -%}
		{{ settings.hdTxt-block }}
	{%- endif -%}
{%- endcapture -%}
<div id="header" data-section-id="header" data-section-type="header-section">
	<div id="headerWrapper" {% if settings.home_classic %}class="classic-style"{% endif %}>
		<header id="grid-header" class="site-header {{settings.align_logo}}{% if settings.nav_below_logo %} nav-below{% endif %}{% unless settings.main_header_fullwidth %} page-width{% endunless %} cabecera">
			<div id="movil_header" class="mobile-nav large-up--hide">
				<a href="#" class="hdicon js-mobile-nav-toggle open" id="boton_nav_mobile"><i class="ad ad-bars-l" aria-hidden="true"></i><i class="ad ad-times-l" aria-hidden="true"></i></a>
				{% if settings.enable_search %}
              		<a href="#" class="hdicon searchIco" id="boton_buscar_mobile" title="{{ 'general.search.tool_tip' | t }}"><i class="ad ad-search-l"></i></a>
                {% endif %}
			</div>
			<!-- {%- if settings.align_logo == "left" -%}{{logo}}{%- endif -%} -->
			{%- if settings.nav_below_logo -%}
				<div id="txtBlock_header" class="txtBlock small--hide medium--hide{% if settings.align_logo == "left" %} text-center{% endif %}">{{textblock}}</div>
			{%- else -%}
				{{desktopnav}}
			{%- endif -%}
<!-- 				<div class="icons-col text-left" id="search_header">	
 -->		<div id="izquierda_header" class="izquierda">
	  			<!-- 		<div class="wrapper">
						  <div class="select_wrap">
						      <ul class="default_option"> -->
						      <!-- <ul class="default_option" onclick="activarCombo(this)"> -->
						      <!--     <li>
						              <div class="option">
						              	<div class="icon"></div>
						                <div class="bandera"><img src="{{ 'bandera_mexico.png' | asset_url }}"/></div>
						              </div>  
						          </li>
						      </ul> -->
						     <!--  <ul class="select_ul">
						          <li onclick="cambiarImagen(this)">
						              <div class="option">
						                <div class="bandera"><img src="{{ 'bandera_peru.png' | asset_url }}"></div>
						                <p class="nombre_pais" hidden="">Perú</p>
						              </div>
						          </li>
						          <li onclick="cambiarImagen(this)">
						              <div class="option">
						                <div class="bandera"><img src="{{ 'bandera_estados_unidos.png' | asset_url }}"/></div>
						                <p class="nombre_pais" hidden="">Estados Unidos</p>
						              </div>  
						          </li>
						          <li onclick="cambiarImagen(this)">
						              <div class="option">
						                <div class="bandera"><img src="{{ 'bandera_mexico.png' | asset_url }}"/></div>
						                <p class="nombre_pais" hidden="">México</p>
						              </div>  
						          </li>
						      </ul> -->
						<!--   </div>
						</div> -->
						<div class="buscador">
	 						<!-- {% if settings.enable_search %}
							<a href="#" class="hdicon searchIco small--hide medium--hide" title="{{ 'general.search.tool_tip' | t }}"><i class="ad ad-search-l"></i></a>
	                  		{% endif %} -->
	                  		<form action="{{ routes.search_url }}" method="get" class="search-header search" role="search">
							  <input type="hidden" name="type" value="product" />
							  <input type="hidden" name="options[prefix]" value="none">
							  <div class="input-group div_buscador">
							    <input class="input-group__field search__input input_buscar" type="search" name="q" placeholder="Buscar" value="{{ search.terms | escape }}" autocomplete="off" />
							    <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
							    <span class="input-group__btn">
							      <button class="search__submit boton_buscar" type="submit"><i class="ad ad-search icono_lupa"></i> <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span></button>
							    </span>
							  </div>
							  <ul class="search-results" style="display:none;"></ul>
							</form>
	                  	</div>
			</div>	
			<div class="logo_header">
				<a href="/">
					<!--<img class="img_logo" src="https://cdn.shopify.com/s/files/1/0502/4543/5543/files/LOGO_HIGH_STREET_XMAS.png?v=1639668901"/>-->

                  	<img class="img_logo" src="{{ 'logo_highstreet_img.png' | asset_url }}"/>
				</a>
			</div>
			<!-- {% if settings.align_logo == "center" %}{{logo}}{% endif %} -->
			<div id="derecha_header" class="icons-col text-right grid-iconos-derecha">
				<a href="#" class="hdicon site-settings small--hide" title="{{ 'layout.header_settingbox.icon_tooltip' | t }}">
					<img id="logo_derecha" class="logo_persona_header" src="{{ 'user.svg' | asset_url }}"/>
				</a>
				<a href="/pages/wishlist" class="hdicon wishlist" title="{{ 'products.wishlist.title' | t }}">
					<img id="logo_derecha" class="logo_corazon_header" src="{{ 'heart.svg' | asset_url }}"/>
				</a>
				
				<a href="/cart" class="hdicon header-cart" title="{{ 'layout.cart.title' | t }}">
					<img id="logo_derecha" class="logo_carro_header" src="{{ 'cart.svg' | asset_url }}"/>
					{% if cart.item_count > 0 %}
					<span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">{{ cart.item_count }}</span>
					{% endif %}
				</a>

					<!-- {% if settings.enable_search %}
						<a href="#" class="hdicon searchIco small--hide medium--hide" title="{{ 'general.search.tool_tip' | t }}">
							<i class="ad ad-search-l"></i>
						</a>
                  	{% endif %} -->
                     <!-- {% if settings.enable_search %}
							<a href="#" class="hdicon searchIco small--hide medium--hide" title="{{ 'general.search.tool_tip' | t }}"><i class="ad ad-search-l"></i></a>
	                  		{% endif %} -->                  
                  	<!-- {% if shop.customer_accounts_enabled or settings.show_multiple_currencies or settings.show_language %}
					<a href="#" class="hdicon site-settings small--hide" title="{{ 'layout.header_settingbox.icon_tooltip' | t }}">
                      	{% if settings.my_account_icn == 'cog' %}
                      		<i class="ad ad-cog-l"></i>
                        {% else %}
                      		<i class="ad ad-user-al"></i>{% endif %}
                  	</a> 
                  	{% endif %}

					{% if settings.enable_wishlist %}
					<a href="/pages/wishlist" class="hdicon wishlist" title="{{ 'products.wishlist.title' | t }}">
						<i class="ad ad-heart-l"></i>
					</a>
					{% endif %}

					{%- unless settings.catalogmode -%}
					<a href="/cart" class="hdicon header-cart" title="{{ 'layout.cart.title' | t }}">
						{% if settings.icon_style == "trolly" %}
						<i class="ad ad-cart-l"></i>
						{% elsif settings.icon_style == "bag" %}
						<i class="ad ad-sq-bag"></i>
						{% else %}<i class="ad ad-basket-l"></i>
						{% endif %}
						<span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">{{ cart.item_count }}</span>
					</a>
					{%- endunless -%} -->
					{% include 'customer-links' %}
			</div>
          
          
          <!-- Hotjar Tracking Code for https://highstreet.com.mx -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1994193,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
          
          
          
		</header>
		{%- if settings.nav_below_logo -%}{{desktopnav}}{%- endif -%}
	</div>
</div>
{%- if settings.snow_effect -%}</div>{%- endif -%}
{{mobilenav}}

{%- assign logoUrl = "" -%}
{%- if settings.logosvg != blank -%}
	{%- assign logoUrl = settings.logosvg | file_url -%}
{%- elsif settings.logo != blank -%}
	{%- assign logoUrl = settings.logo | img_url: '500x' -%}
{%- endif -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if logoUrl != blank %}
    "logo": "https:{{logoUrl}}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_tiktok_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
{%- endcapture -%}
{{siteHeader | strip_newlines | remove: "  " | remove: "	" }}
