 <div class="grid-footer-redes-sociales">
      <div class="logo_instagram"><a href=""><img class="logo_red_social" src="{{ 'logo_instagram.png' | asset_url }}"/></a></div>
      <div class="logo_facebook"><a href=""><img class="logo_red_social" src="{{ 'logo_facebook.png' | asset_url }}"/></a></div>
      <div class="logo_tiktok"><a href=""><img class="logo_red_social" src="{{ 'logo_tiktok.png' | asset_url }}"/></a></div>
      <div class="logo_youtube"><a href=""><img class="logo_red_social" src="{{ 'logo_youtube.png' | asset_url }}"/></a></div>
      <div class="logo_spotify"><a href=""><img class="logo_red_social" src="{{ 'logo_spotify.png' | asset_url }}"/></a></div>
  </div>